# 2018-2019 DeadManWalking (DeadManWalkingTO-GitHub)

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs diff=csharp

# Custom for NSIS
*.nsh diff=localizablensh
